$sans: 'Titillium Web', sans-serif;

html {
    height: auto;
    font-family: $sans;
}

body {
    background: white;
    height: auto;
}

.wrapper {
    background: lightgrey;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1024px;
}

.divider {
    border: 1px solid grey;
    margin: 5% 0;
}