.parallax {
  position: static;
  margin: 0;
  padding: 0;
  z-index: 0;
  height: 100%;
}

.parallax__group {
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-position: center center;
  background-size: 32.5vw;
}
$groups: 3;
@for $i from 1 to $groups+1 {
  .parallax__group:nth-of-type(#{$i}) {
    background-image: url('/assets/images/coils-bg-#{$i}.svg');
  }
}