.overImg {
  width: 499px;
  height: 469px;

  #topLeftCorner, #topRightCorner, .bottomLeftCorner, #bottomRightCorner {
    background-image: url("http://img-9gag-ftw.9cache.com/photo/a6ymjP8_700b.jpg");
    background-repeat: no-repeat;
    width: 49%;
    height: 50%;
    float: left;
    border: 1px solid #333;
    overflow: hidden;

    button {
      display: none;
    }
  }

  #topRightCorner, #bottomRightCorner {
    padding-left: 6px;
  }

  #topRightCorner {
    background-position-x: -246px;
  }

  .bottomLeftCorner {
    background-position-y: -232px;
  }

  #bottomRightCorner {
    background-position: -241px -232px;
  }

  #topLeftCorner {
    &:target {
      -ms-transform: scale(2,2); /* IE 9 */
      -webkit-transform: scale(2,2); /* Chrome, Safari, Opera */
      transform: scale(2,2); /* Standard syntax */
      position: relative;
      top: 117px;
      left: 123px;

      button {
        display: block;
      }
    }
  }

  #topRightCorner {
    &:target {
      -ms-transform: scale(2,2); /* IE 9 */
      -webkit-transform: scale(2,2); /* Chrome, Safari, Opera */
      transform: scale(2,2); /* Standard syntax */
      position: relative;
      top: 117px;
      right: 123px;
    }
  }

  #bottomRightCorner {
    &:target {
      -ms-transform: scale(2,2); /* IE 9 */
      -webkit-transform: scale(2,2); /* Chrome, Safari, Opera */
      transform: scale(2,2); /* Standard syntax */
      position: relative;
      top: -118px;
      right: 123px;
    }
  }

}